In [154]:
# Importamos la data necesaria para el proceso
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [155]:
# Importamos las primeras 1000000 lineas de 2000.csv
vuelos_2008 = pd.read_csv('2008.csv', nrows=100000)

In [156]:
vuelos_2008.head()

,Year,Month,DayofMonth,DayOfWeek,UniqueCarrier,Origin,CRSDepTime,DepTime,DepDelay,Dest,...,ArrDelay,CRSElapsedTime,Distance,Cancelled,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2003,1,29,3,UA,ORD,1655,1651.0,-4.0,MSY,...,-1.0,138,837,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2003,1,30,4,UA,ORD,1655,1654.0,-1.0,MSY,...,-3.0,138,837,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2003,1,31,5,UA,ORD,1655,1724.0,29.0,MSY,...,23.0,138,837,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2003,1,1,3,UA,OAK,1035,1033.0,-2.0,ORD,...,-9.0,239,1835,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2003,1,2,4,UA,OAK,1035,1053.0,18.0,ORD,...,52.0,239,1835,0,NaN,NaN,NaN,NaN,NaN,NaN

In [157]:
# CAMBIANDO LOS NOMBRES DE TODAS LAS COLUMNAS

vuelos_2008.rename(columns={'Year':'Anio'}, inplace=True)
vuelos_2008.rename(columns={'Month':'Mes'}, inplace=True)
vuelos_2008.rename(columns={'DayofMonth':'Dia'}, inplace=True)
vuelos_2008.rename(columns={'DayOfWeek':'Dia_Sem'}, inplace=True)
vuelos_2008.rename(columns={'UniqueCarrier':'ID_Aerolinea'}, inplace=True)
vuelos_2008.rename(columns={'Origin':'ID_Aeropuerto_O'}, inplace=True)
vuelos_2008.rename(columns={'Dest':'ID_Aeropuerto_D'}, inplace=True)
vuelos_2008.rename(columns={'DepTime':'Hora_SalidaR'}, inplace=True)
vuelos_2008.rename(columns={'CRSDepTime':'Hora_SalidaP'}, inplace=True)
vuelos_2008.rename(columns={'ArrTime':'Hora_LlegadaR'}, inplace=True)
vuelos_2008.rename(columns={'CRSArrTime':'Hora_LlegadaP'}, inplace=True)
vuelos_2008.rename(columns={'CRSElapsedTime':'Duracion_Promedio'}, inplace=True)
vuelos_2008.rename(columns={'ArrDelay':'Retraso_Llegada'}, inplace=True)
vuelos_2008.rename(columns={'DepDelay':'Retraso_Salida'}, inplace=True)
vuelos_2008.rename(columns={'Distance':'Distancia'}, inplace=True)
vuelos_2008.rename(columns={'Cancelled':'Cancelado'}, inplace=True)
vuelos_2008.rename(columns={'CancellationCode':'Codigo_Cancelacion'}, inplace=True)
vuelos_2008.rename(columns={'CarrierDelay':'Retraso_Aerolinea'}, inplace=True)
vuelos_2008.rename(columns={'WeatherDelay':'Retraso_Clima'}, inplace=True)
vuelos_2008.rename(columns={'NASDelay':'Retraso_NAS'}, inplace=True)
vuelos_2008.rename(columns={'SecurityDelay':'Retraso_Seguridad'}, inplace=True)
vuelos_2008.rename(columns={'LateAircraftDelay':'Retraso_Aeronave'}, inplace=True)

# Reordenamos las columnas

vuelos_2008 = vuelos_2008[['Anio', 'Mes', 'Dia', 'Dia_Sem', 'ID_Aerolinea', 'ID_Aeropuerto_O', 'ID_Aeropuerto_D', 
'Hora_SalidaR', 'Hora_SalidaP', 'Hora_LlegadaR', 'Hora_LlegadaP', 'Duracion_Promedio', 'Retraso_Llegada', 'Retraso_Salida', 
'Distancia', 'Cancelado', 'Codigo_Cancelacion', 'Retraso_Aerolinea', 'Retraso_Clima', 'Retraso_NAS', 'Retraso_Seguridad', 
'Retraso_Aeronave']]

In [158]:
import numpy as np

# Creando una columna 'Estado_Vuelo', que tome valores 'Codigo_Cancelacion'
vuelos_2008['ID_EstadoVuelo'] = np.where(vuelos_2008['Codigo_Cancelacion'].notnull(), vuelos_2008['Codigo_Cancelacion'], np.where(vuelos_2008['Cancelado'] == 1, 'ND', 'E'))

# Eliminando columna 'Codigo_Cancelacion'
vuelos_2008.drop('Codigo_Cancelacion', axis=1, inplace=True)
vuelos_2008.drop('Cancelado', axis=1, inplace=True)

# Eliminando las columnas de retrasos
vuelos_2008.drop('Retraso_Aerolinea', axis=1, inplace=True)
vuelos_2008.drop('Retraso_NAS', axis=1, inplace=True)
vuelos_2008.drop('Retraso_Seguridad', axis=1, inplace=True)
vuelos_2008.drop('Retraso_Aeronave', axis=1, inplace=True) 
vuelos_2008.drop('Retraso_Clima', axis=1, inplace=True)


# Creando una columna de 'Partida_A_Tiempo', A: 'Retraso_Salida' <= 0, B: 0 < 'Retraso_Salida' <= 15, C: 'Retraso_Salida' > 15, NE: 'Retraso_Salida' = NaN
vuelos_2008['ID_DepTime'] = np.where(vuelos_2008['Retraso_Salida'] <= 0, 'A', np.where(vuelos_2008['Retraso_Salida'] <= 15, 'B', np.where(vuelos_2008['Retraso_Salida'] > 15, 'C', 'ND')))

# Creando una columna de 'Llegada_A_Tiempo', A: 'Retraso_Llegada' <= 0, B: 0 < 'Retraso_Llegada' <= 15, C: 'Retraso_Llegada' > 15, NE: 'Retraso_Llegada' = NaN
vuelos_2008['ID_ArrTime'] = np.where(vuelos_2008['Retraso_Llegada'] <= 0, 'A', np.where(vuelos_2008['Retraso_Llegada'] <= 15, 'B', np.where(vuelos_2008['Retraso_Llegada'] > 15, 'C', 'ND')))

# Eliminando las columnas de retrasos
vuelos_2008.drop('Retraso_Llegada', axis=1, inplace=True)
vuelos_2008.drop('Retraso_Salida', axis=1, inplace=True)