In [1]:
# Importamos la data necesaria para el proceso
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
aerolineas = pd.read_csv('carriers.csv')
aeropuertos = pd.read_csv('airports.csv')

In [3]:
# Cambiar el nombre de la columna AIRLINE por Aerrolinea e IATA_CODE por ID_Aerolinea
aerolineas.rename(columns={'Code': 'ID_Aerolinea'}, inplace=True)
aerolineas.rename(columns={'Description': 'Aerolinea'}, inplace=True)
# Establecer a IATA_CODE como índice
aerolineas.set_index('ID_Aerolinea', inplace=True)
# Elimiar la fila que contiene los valores nulos
aerolineas.dropna(inplace=True)

In [13]:
# Mostrar aerolineas con ID_Aerolinea = HP
aerolineas.loc['HP']

Aerolinea    America West Airlines Inc. (Merged with US Air...
Name: HP, dtype: object

In [4]:
aerolineas.head()

                                  Aerolinea
ID_Aerolinea
02Q                           Titan Airways
04Q                      Tradewind Aviation
05Q                     Comlux Aviation, AG
06Q           Master Top Linhas Aereas Ltd.
07Q                     Flair Airlines Ltd.

In [5]:
# Eliminar las filas cuyo COUNTRY no sea USA
aeropuertos = aeropuertos[aeropuertos['country'] == 'USA']
# Eliminar la columna COUNTRY
aeropuertos.drop(columns=['country'], inplace=True)

# Cambiar los nombres de las columnas IATA_CODE por ID_Aeropuerto
aeropuertos.rename(columns={'iata': 'ID_Aeropuerto'}, inplace=True)
# Cambiar los nombres de las columnas AIRPORT por Aeropuerto
aeropuertos.rename(columns={'airport': 'Aeropuerto'}, inplace=True)
# Cambiar los nombres de las columnas CITY por Ciudad
aeropuertos.rename(columns={'city': 'Ciudad'}, inplace=True)
# Cambiar los nombres de las columnas STATE por Estado
aeropuertos.rename(columns={'state': 'Estado'}, inplace=True)
# Cambiar los nombres de las columnas LATITUDE por Latitud
aeropuertos.rename(columns={'lat': 'Latitud'}, inplace=True)
# Cambiar los nombres de las columnas LONGITUDE por Longitud
aeropuertos.rename(columns={'long': 'Longitud'}, inplace=True)

In [6]:
# Eliminar las filas cuyo ID_Aeropuerto sea nulo
aeropuertos.dropna(subset=['ID_Aeropuerto'], inplace=True)

# Establecer a ID_Aeropuerto como índice
aeropuertos.set_index('ID_Aeropuerto', inplace=True)

In [15]:
# Mostrar aeropuertos con ID_Aeropuerto = ATL
aeropuertos.loc['ATL']

Aeropuerto    William B Hartsfield-Atlanta Intl
Ciudad                                  Atlanta
Estado                                       GA
Latitud                               33.640444
Longitud                             -84.426944
Name: ATL, dtype: object

In [7]:
aeropuertos.head()

,Aeropuerto,Ciudad,Estado,Latitud,Longitud
ID_Aeropuerto,,,,,
00M,Thigpen,Bay Springs,MS,31.953765,-89.234505
00R,Livingston Municipal,Livingston,TX,30.685861,-95.017928
00V,Meadow Lake,Colorado Springs,CO,38.945749,-104.569893
01G,Perry-Warsaw,Perry,NY,42.741347,-78.052081
01J,Hilliard Airpark,Hilliard,FL,30.688012,-81.905944